body {
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    color: rgba(255, 215, 0, 0.85);
    padding: 20px;
    border: 5px solid gold;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    background: rgba(255, 215, 0, 0.85);
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 10px rgba(255, 215, 0, 0.85);
    border-radius: 4px;
    font-weight: bold;
}

input[type="submit"] {
    background: rgba(255, 215, 0, 0.85);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: grey;
}

h2 {
    text-align: center;
}
